.card {
	display: flex;
	flex-direction: column;
	max-width: 500px;
	padding: 1rem;
	border-top: 0.5px solid rgba(0, 0, 0, 0.2);
	margin-left: 20px;
}

.title {
	font-size: 1.8rem;
    line-height: 1.33333;
    font-weight: 600;
    color: rgba(0,0,0,0.9);
	cursor:pointer;
}


.title:hover,
.category_name:hover
 {
	text-decoration: underline;
}
.category_name {
	font-size: 1.6rem;
    line-height: 1.75;
    font-weight: 400;
    color: rgba(0,0,0,0.8);
	cursor: pointer;
}

.state_info {
	font-size: 1.3rem;
    line-height: 1.5;
    font-weight: 300;
    color: rgba(0,0,0,0.5);
	cursor: pointer;
}

