
.top {
	display: flex;
	padding: 0rem 1rem;
	justify-content: space-between;
	align-items: center;
	width: 552px;
	height: 62px;
	font-size: 20px;
	border-bottom: 1px solid lightgray;
	span {
		cursor: pointer;
		color: rgba(0,0,0,0.8);
		}	
	}


	textarea {
		font-size: 20px;
		resize: none;
		padding: 1rem;
		border: none;
	}
	.btn_blue {
		max-width: fit-content;
		border: none;
		padding: 0 1rem;
		color: #0a66c2;
		background-color: transparent;
		font-size: 20px;
		font-weight: 600;
		cursor: pointer;
	}
	.wrapper {
		padding: 1rem;
		display: flex;
		justify-content: space-between;
	}
	.buttons {
		button {
			margin-right: 10px;
			border: none;
			background-color: transparent;
			cursor: pointer;
			width: 48px;
			height: 48px;
		}
	}
	.btn_gray{
		padding: 0px 16px;
		font-weight: 400;
		font-size: 18px;
		text-align: center;
		background-color: #0a66c2;
		color: #ffffff;
		border: none;
		border-radius: 16px;
		cursor: pointer;
	}

.column_wrapper {
	display: flex;
	flex-direction: column;
}