.resetpage{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	height: 95vh;
}

.form_wrapper {
	display: flex;
	flex-direction: column;
	width: 440px;
	padding: 1rem;
	border: 1px solid lightgray;
	border-radius: 8px;
}

.input {
	width: 352px;
	height: 52px;
	border-radius: 4px;
	font-size: 18px;
	color: rgba(0,0,0,.7);
	padding-left: .5rem;
	margin: 2rem auto;
}
.reset_btn{
	width: 352px;
	height: 52px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 1rem auto;
	font-weight: 600;
	background: #0a66c2;
	color: white;
	border-radius: 28px;
	border:none;
}